<!DOCTYPE html>
<html>
<body>
  Hi, <%= person %>
  <p>New Name:</p>
  <form action="/" method="post">
    <input type="text" name="newname">
    <input type="submit" value="submit">
  </form>
</body>
</html>
